@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 18, 18, 18;
    --background-end-rgb: 18, 18, 18;
  }
}

body {
  margin: 0;
  padding: 0;
  color: white;
  --u:  8vmin;	
  --c1: hsl(0, 0%, 7%);
  --c2: hsl(212deg 4% 9%);
  --c3: hsl(0, 3%, 8%);
  --c4: #161616;
  --sh: rgba(54, 54, 54, 0.4);
  --sh2: rgba(61, 61, 61, 0.133);
  --gp: 50%/ calc(var(--u) * 2) calc(var(--u) * 2);
background:    
  conic-gradient(from -10deg at 60% 0%, #fff0 0 25%, var(--sh2) 28%, #fff0 31% 100%) var(--gp), 
  conic-gradient(from -5deg at 0% calc(60% - 1px), #fff0 0, var(--sh) 0%, #fff0 4% 100%) var(--gp),    
  conic-gradient(from 0deg at 60% calc(60% - 1px), #fff0 0 22%, var(--sh2) 25%, #fff0 25% 100%) var(--gp),     
  conic-gradient(from 0deg at 60% calc(60% - 1px), var(--c4) 0 25%, #fff0 0 97.5%, var(--sh) 102%) var(--gp),   
  linear-gradient(180deg, #fff0 0%, var(--sh) 10%, #fff0 10% 50%, var(--sh) 50%, #fff0 60% 101%) var(--gp),   
  linear-gradient(180deg, #fff0 10%, var(--c3) 10% 50%, #fff0 50% 100%) var(--gp),   
  linear-gradient(90deg, #fff0 0%, var(--sh) 10%, #fff0 10% 50%, var(--sh) 50%, #fff0 60% 100%) var(--gp),   
  linear-gradient(90deg, #fff0 10%, var(--c2) 10% 50%, #fff0 50% 100%) var(--gp),   
  linear-gradient(180deg, #fff0 60%, var(--c1) 60% 100%) var(--gp),   
  #2e2e2e;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
}

li, p {
  font-family: 'Montserrat', sans-serif;
}

